seed=1394496029

name=botafogo_bay_sd_3_gpu

world_width=1024
world_height=1024

num_expansion_kernel_blocks=12
num_expansion_kernel_threads=256

max_vertices=300000
max_edges=300000
max_quadrants=2000

population_density_map=../../../../data/botafogo_bay/density.png
water_bodies_map=../../../../data/botafogo_bay/water.png

spawn_points=[(200, 512), (900, 250), (810, 100), (100, 100)]

highway_length=40
max_highway_goal_deviation=15
max_highway_branch_depth=17
highway_branching_distance=8
goal_distance_threshold=5

street_length=20
max_street_branch_depth=15

max_highway_derivation=50
max_street_derivation=15

max_highway_obstacle_deviation_angle=120
max_street_obstacle_deviation_angle=60
min_highway_length=10
min_street_length=2

sampling_arc=60
min_sampling_ray_length=400
max_sampling_ray_length=360
min_sampling_weight=30

quadtree_depth=3
snap_radius=0

cycle_color=(1,0,0,1)
filament_color=(0,0,0,1)
isolated_vertex_color=(1,0,1,1)
street_color=(0,0,1,1)
quadtree_color=(0,1,0,1)

draw_spawn_point_labels=false
draw_graph_labels=false
draw_quadtree=true
label_font_size=5.0
point_size=3

max_primitives=1000
min_block_area=200.0

vertex_buffer_size=1000000
index_buffer_size=1000000