seed=1394494072

name=rio_de_janeiro_city_pr_7_gpu

world_width=8192
world_height=4096

num_expansion_kernel_blocks=32
num_expansion_kernel_threads=128

max_vertices=500000
max_edges=600000
max_quadrants=4676

population_density_map=../../../../data/rio_de_janeiro_city/density.png
water_bodies_map=../../../../data/rio_de_janeiro_city/water.png
blockades_map=../../../../data/rio_de_janeiro_city/block.png

spawn_points=[(1450, 2150), (2260, 1896), (3060, 1796), (3120, 1050), (3400, 1200), (3320, 2496), (4200, 2550), (4250, 1350), (4660, 1226), (5250, 1840), (5500, 2836), (5800, 2250), (6230, 2450), (6280, 3250), (6680, 3320), (6830, 1656)]

highway_length=80
max_highway_goal_deviation=5
max_highway_branch_depth=39
highway_branching_distance=20
goal_distance_threshold=4

street_length=40
max_street_branch_depth=20

max_highway_derivation=100
max_street_derivation=20

max_highway_obstacle_deviation_angle=120
max_street_obstacle_deviation_angle=20
min_highway_length=4
min_street_length=12

sampling_arc=30
min_sampling_ray_length=300
max_sampling_ray_length=900
min_sampling_weight=0

quadtree_depth=6
snap_radius=0

cycle_color=(1,0,0,1)
filament_color=(0,0,0,1)
isolated_vertex_color=(1,0,1,1)
street_color=(0,0,1,1)
quadtree_color=(0,1,0,1)

draw_spawn_point_labels=false
draw_graph_labels=false
draw_quadtree=false
label_font_size=20.0
point_size=3.5

max_primitives=200
min_block_area=10000.0

vertex_buffer_size=1500000
index_buffer_size=1500000