[Oo]bj/
[Dd]ebug/
[Bb]uild/
ipch/

memory_leak_report.txt

*.orig

*.sdf
*.opensdf
*.suo
*.vcxproj.user

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
